.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 4fr 1fr;
}

.article {
  grid-column-start: 2;
  grid-column-end: 4;
}

.title {
  color: hsla(0, 0%, 18%, 0.877);
  font-size: 28px;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.text {
  composes: title;
  font-size: 19px;
}
